Repository COS301-SE-2022/Map-out-game-reserves-using-aerial-photographs, pull requests merged in 2022-06, with the labels that each got.

#94 ✨(api/db/ui): Added Login/Logout and Registration
  aerial-mapping/apps/aerial-mapping/src/app/app-routing.module.ts
  aerial-mapping/apps/api/src/app/app.module.ts
  aerial-mapping/apps/api/src/app/schema.graphql
  aerial-mapping/libs/api/login/api/feature/src/lib/api-login-api-feature.module.ts
  aerial-mapping/libs/api/login/api/feature/src/lib/api-login-api.resolver.spec.ts
  aerial-mapping/libs/api/login/api/feature/src/lib/api-login-api.resolver.ts
  aerial-mapping/libs/api/login/repository/data-access/src/lib/api-login-repository-data-access.module.ts
  aerial-mapping/libs/api/login/repository/data-access/src/lib/api-login-repository-data-access.spec.ts
  aerial-mapping/libs/api/login/repository/data-access/src/lib/api-login-repository-data-access.ts
  aerial-mapping/libs/api/login/repository/data-access/src/lib/auth/guards/auth.guard.ts
  aerial-mapping/libs/api/register/api/feature/src/lib/api-register-api.resolver.spec.ts
  aerial-mapping/libs/api/register/api/feature/src/lib/api-register-api.resolver.ts
  aerial-mapping/libs/api/register/repository/data-access/src/lib/api-register-repository-data-access.spec.ts
  aerial-mapping/libs/api/register/repository/data-access/src/lib/api-register-repository-data-access.ts
  aerial-mapping/libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  aerial-mapping/libs/client/account/src/lib/account/account.component.html
  aerial-mapping/libs/client/account/src/lib/account/account.component.spec.ts
  aerial-mapping/libs/client/account/src/lib/account/account.component.ts
  aerial-mapping/libs/client/account/src/lib/client-account.module.ts
  aerial-mapping/libs/client/login/src/index.ts
  aerial-mapping/libs/client/login/src/lib/auth/login.guard.ts
  aerial-mapping/libs/client/login/src/lib/client-login.module.ts
  aerial-mapping/libs/client/login/src/lib/login/login.component.html
  aerial-mapping/libs/client/login/src/lib/login/login.component.ts
  aerial-mapping/libs/client/register/src/lib/client-register.module.spec.ts
  aerial-mapping/libs/client/register/src/lib/client-register.module.ts
  aerial-mapping/libs/client/register/src/lib/register/register.component.html
  aerial-mapping/libs/client/register/src/lib/register/register.component.spec.ts
  aerial-mapping/libs/client/register/src/lib/register/register.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
Labels: scope:api, scope:client, scope:db, scope:repository, type:feature, priority:high

#102 💄(ui): Colour and format fixes
  aerial-mapping/apps/aerial-mapping/src/app/app-routing.module.ts
  aerial-mapping/libs/client/account/src/lib/account/account.component.scss
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.html
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.scss
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.html
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.scss
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.html
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.scss
  aerial-mapping/libs/client/login/src/lib/login/login.component.html
  aerial-mapping/libs/client/login/src/lib/login/login.component.scss
  aerial-mapping/libs/client/mapcollection/src/lib/mapcollection/mapcollection.component.scss
  aerial-mapping/libs/client/register/src/lib/register/register.component.scss
  aerial-mapping/libs/client/shared/assets/src/lib/global.scss
  aerial-mapping/libs/client/shared/components/navbar/src/lib/side-navbar/side-navbar.component.scss
Labels: scope:ui, type:feature, type:fix, priority:low

#103 Fixing the buttons in the accounts page
  aerial-mapping/libs/client/account/src/lib/account/account.component.html
  aerial-mapping/libs/client/account/src/lib/account/account.component.scss
Labels: scope:ui, type:fix, priority:low

#105 ✨Splitting Video into Images
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.ts
Labels: scope:client, type:feature, priority:high

#107 🚧(api): Update schema.prisma
  aerial-mapping/libs/api/dashboard/api/feature/src/lib/api-dashboard-api.resolver.spec.ts
  aerial-mapping/libs/api/dashboard/api/feature/src/lib/api-dashboard-api.resolver.ts
  aerial-mapping/libs/api/dashboard/repository/data-access/src/lib/api-dashboard-repository-data-access.spec.ts
  aerial-mapping/libs/api/dashboard/repository/data-access/src/lib/api-dashboard-repository-data-access.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.ts
  aerial-mapping/prisma/migrations/20220606205926_/migration.sql
  aerial-mapping/prisma/schema.prisma
Labels: scope:api, scope:db, type:refactor, priority:high

#108 🚧(db): Fixes on the db
  aerial-mapping/apps/api/src/app/schema.graphql
  aerial-mapping/libs/api/dashboard/api/feature/src/lib/api-dashboard-api.resolver.spec.ts
  aerial-mapping/libs/api/dashboard/api/feature/src/lib/api-dashboard-api.resolver.ts
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
Labels: type:bug, scope:api, scope:db, type:fix, priority:high

#109 🚧(api): Added a create image collection api call to s3_upload
  aerial-mapping/libs/api/dashboard/api/feature/src/lib/api-dashboard-api.resolver.spec.ts
  aerial-mapping/libs/api/dashboard/repository/data-access/src/lib/api-dashboard-repository-data-access.spec.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.spec.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.spec.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.ts
Labels: scope:api, scope:db, type:fix, priority:high

#114 💄UI: Progress Indicator for Video Splitting
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.html
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.scss
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.ts
Labels: scope:client, type:feature, priority:high, priority:medium

#116 🚧(api): Added image api stuff
  aerial-mapping/apps/api/src/app/schema.graphql
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.spec.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.spec.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.ts
  aerial-mapping/package.json
  aerial-mapping/prisma/migrations/20220607140010_/migration.sql
  aerial-mapping/prisma/schema.prisma
  aerial-mapping/yarn.lock
Labels: scope:api, scope:db, type:fix, priority:high

#117 Allowing the upload page to display a list of files being uploaded
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.ts
Labels: scope:ui, type:fix, priority:medium

#119 Adding the park dropdown
  aerial-mapping/libs/client/file-upload/src/lib/client-file-upload.module.ts
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.html
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.scss
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.ts
Labels: scope:ui, type:feature, priority:medium

#121 ✨(ui): tooltip testing and format fixes
  aerial-mapping/angular.json
  aerial-mapping/libs/client/account/src/lib/account/account.component.html
  aerial-mapping/libs/client/account/src/lib/client-account.module.ts
  aerial-mapping/libs/client/shared/assets/src/lib/global.scss
  aerial-mapping/libs/client/shared/components/navbar/src/lib/side-navbar/side-navbar.component.html
  aerial-mapping/libs/client/shared/components/tooltip/.eslintrc.json
  aerial-mapping/libs/client/shared/components/tooltip/README.md
  aerial-mapping/libs/client/shared/components/tooltip/jest.config.ts
  aerial-mapping/libs/client/shared/components/tooltip/project.json
  aerial-mapping/libs/client/shared/components/tooltip/src/index.ts
  aerial-mapping/libs/client/shared/components/tooltip/src/lib/client-shared-components-tooltip.module.spec.ts
  aerial-mapping/libs/client/shared/components/tooltip/src/lib/client-shared-components-tooltip.module.ts
  aerial-mapping/libs/client/shared/components/tooltip/src/lib/tooltip/tooltip.component.html
  aerial-mapping/libs/client/shared/components/tooltip/src/lib/tooltip/tooltip.component.scss
  aerial-mapping/libs/client/shared/components/tooltip/src/lib/tooltip/tooltip.component.spec.ts
  aerial-mapping/libs/client/shared/components/tooltip/src/lib/tooltip/tooltip.component.ts
  aerial-mapping/libs/client/shared/components/tooltip/src/test-setup.ts
  aerial-mapping/libs/client/shared/components/tooltip/tsconfig.json
  aerial-mapping/libs/client/shared/components/tooltip/tsconfig.lib.json
  aerial-mapping/libs/client/shared/components/tooltip/tsconfig.spec.json
  aerial-mapping/tsconfig.base.json
Labels: scope:ui, type:feature, priority:high

#122 💄(ui): Completed Tooltips
  aerial-mapping/libs/client/account/src/lib/account/account.component.html
  aerial-mapping/libs/client/dashboard/src/lib/bar-chart/bar-chart.component.ts
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.html
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.html
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.html
  aerial-mapping/libs/client/shared/assets/src/lib/global.scss
  aerial-mapping/libs/client/shared/components/navbar/src/lib/side-navbar/side-navbar.component.html
Labels: scope:ui, type:feature, priority:high

#124 ✨UI: Create map component
  aerial-mapping/angular.json
  aerial-mapping/apps/aerial-mapping/src/app/app-routing.module.ts
  aerial-mapping/libs/client/map/.eslintrc.json
  aerial-mapping/libs/client/map/README.md
  aerial-mapping/libs/client/map/jest.config.ts
  aerial-mapping/libs/client/map/project.json
  aerial-mapping/libs/client/map/src/index.ts
  aerial-mapping/libs/client/map/src/lib/client-map.module.spec.ts
  aerial-mapping/libs/client/map/src/lib/client-map.module.ts
  aerial-mapping/libs/client/map/src/lib/map-routing.module.ts
  aerial-mapping/libs/client/map/src/lib/map-view/map-view.component.html
  aerial-mapping/libs/client/map/src/lib/map-view/map-view.component.scss
  aerial-mapping/libs/client/map/src/lib/map-view/map-view.component.spec.ts
  aerial-mapping/libs/client/map/src/lib/map-view/map-view.component.ts
  aerial-mapping/libs/client/map/src/test-setup.ts
  aerial-mapping/libs/client/map/tsconfig.json
  aerial-mapping/libs/client/map/tsconfig.lib.json
  aerial-mapping/libs/client/map/tsconfig.spec.json
  aerial-mapping/package.json
  aerial-mapping/tsconfig.base.json
  aerial-mapping/yarn.lock
Labels: scope:client, type:feature, priority:high

#126 💄(ui): Nav Bar Styling Fixes
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.scss
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.scss
  aerial-mapping/libs/client/shared/assets/src/lib/global.scss
Labels: scope:ui, type:fix, priority:low

#127 🚧(api): Adding S3 access (partial)
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
Labels: scope:api, scope:db, type:feature, priority:high

#128 🐛(api): Dashboard bug fixes
  aerial-mapping/apps/api/src/app/schema.graphql
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.spec.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.spec.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.ts
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
Labels: type:bug, scope:api, type:fix, priority:high

#132 🐛(api): Fixed S3 CORS error
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
Labels: type:bug, scope:api, type:fix, priority:high

#125 ✨(testing): Adding integration testing
  aerial-mapping/.gitignore
  aerial-mapping/apps/aerial-mapping-e2e/cypress.json
  aerial-mapping/apps/aerial-mapping-e2e/src/integration/app.spec.ts
  aerial-mapping/apps/aerial-mapping-e2e/src/support/app.po.ts
  aerial-mapping/apps/aerial-mapping/src/app/app-routing.module.ts
  aerial-mapping/libs/client/account/src/lib/account/account.component.html
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.html
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.ts
  aerial-mapping/libs/client/login/src/lib/login/login.component.html
  aerial-mapping/libs/client/shared/components/navbar/src/lib/side-navbar/side-navbar.component.html
  aerial-mapping/package.json
  aerial-mapping/prisma/migrations/20220607182457_/migration.sql
  aerial-mapping/prisma/migrations/20220607183002_3/migration.sql
  aerial-mapping/prisma/seed.ts
  aerial-mapping/yarn.lock
Labels: scope:client, scope:db, type:feature, priority:high

#133 🚧(client): Fixing client api call
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.html
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
Labels: scope:client, type:fix, priority:high

#134 💄 UI: Changed Dashboard Bar Graph
  aerial-mapping/libs/client/dashboard/src/lib/bar-chart/bar-chart.component.html
  aerial-mapping/libs/client/dashboard/src/lib/bar-chart/bar-chart.component.scss
  aerial-mapping/libs/client/dashboard/src/lib/bar-chart/bar-chart.component.ts
  aerial-mapping/libs/client/dashboard/src/lib/bar-chart/bar-chart.model.ts
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.html
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.scss
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.ts
  aerial-mapping/libs/client/shared/assets/src/lib/global.scss
Labels: scope:ui, type:feature, priority:medium

#135 🚧(ui): Displaying images
  aerial-mapping/apps/aerial-mapping/src/app/app-routing.module.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.ts
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.html
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
Labels: scope:ui, type:feature, priority:high

#136 🚧(ui): Displaying images on image catalogue
  aerial-mapping/libs/api/image-catalogue/api/feature/.babelrc
  aerial-mapping/libs/api/image-catalogue/api/feature/.eslintrc.json
  aerial-mapping/libs/api/image-catalogue/api/feature/README.md
  aerial-mapping/libs/api/image-catalogue/api/feature/jest.config.js
  aerial-mapping/libs/api/image-catalogue/api/feature/project.json
  aerial-mapping/libs/api/image-catalogue/api/feature/src/index.ts
  aerial-mapping/libs/api/image-catalogue/api/feature/src/lib/api-image-catalogue-api-feature.module.ts
  aerial-mapping/libs/api/image-catalogue/api/feature/src/lib/api-image-catalogue-api.resolver.spec.ts
  aerial-mapping/libs/api/image-catalogue/api/feature/src/lib/api-image-catalogue-api.resolver.ts
  aerial-mapping/libs/api/image-catalogue/api/feature/tsconfig.json
  aerial-mapping/libs/api/image-catalogue/api/feature/tsconfig.lib.json
  aerial-mapping/libs/api/image-catalogue/api/feature/tsconfig.spec.json
  aerial-mapping/libs/api/image-catalogue/repository/data-access/.eslintrc.json
  aerial-mapping/libs/api/image-catalogue/repository/data-access/README.md
  aerial-mapping/libs/api/image-catalogue/repository/data-access/jest.config.js
  aerial-mapping/libs/api/image-catalogue/repository/data-access/project.json
  aerial-mapping/libs/api/image-catalogue/repository/data-access/src/index.ts
  aerial-mapping/libs/api/image-catalogue/repository/data-access/src/lib/api-image-catalogue-repository-data-access.module.ts
  aerial-mapping/libs/api/image-catalogue/repository/data-access/src/lib/api-image-catalogue-repository-data-access.spec.ts
  aerial-mapping/libs/api/image-catalogue/repository/data-access/src/lib/api-image-catalogue-repository-data-access.ts
  aerial-mapping/libs/api/image-catalogue/repository/data-access/tsconfig.json
  aerial-mapping/libs/api/image-catalogue/repository/data-access/tsconfig.lib.json
  aerial-mapping/libs/api/image-catalogue/repository/data-access/tsconfig.spec.json
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.ts
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.html
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
  aerial-mapping/package.json
  aerial-mapping/prisma/seed.ts
Labels: scope:client, scope:db, type:fix, priority:medium

#140 🚧(ui): Populating Account page with user details
  aerial-mapping/apps/api/src/app/schema.graphql
  aerial-mapping/libs/api/dashboard/repository/data-access/src/lib/api-dashboard-repository-data-access.ts
  aerial-mapping/libs/api/login/api/feature/src/lib/api-login-api.resolver.ts
  aerial-mapping/libs/api/login/api/shared/interfaces/data-access/src/lib/api-login-entity.ts
  aerial-mapping/libs/api/login/repository/data-access/src/lib/api-login-repository-data-access.spec.ts
  aerial-mapping/libs/api/login/repository/data-access/src/lib/api-login-repository-data-access.ts
  aerial-mapping/libs/api/login/repository/data-access/src/lib/auth/guards/auth.guard.ts
  aerial-mapping/libs/api/register/api/feature/src/lib/api-register-api.resolver.spec.ts
  aerial-mapping/libs/api/register/api/feature/src/lib/api-register-api.resolver.ts
  aerial-mapping/libs/api/register/repository/data-access/src/lib/api-register-repository-data-access.spec.ts
  aerial-mapping/libs/api/register/repository/data-access/src/lib/api-register-repository-data-access.ts
  aerial-mapping/libs/client/account/src/lib/account/account.component.html
  aerial-mapping/libs/client/account/src/lib/account/account.component.ts
  aerial-mapping/libs/client/login/src/lib/client-login.module.spec.ts
  aerial-mapping/libs/client/login/src/lib/login/login.component.spec.ts
  aerial-mapping/libs/client/register/src/lib/register/register.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
  aerial-mapping/prisma/migrations/20220609132954_/migration.sql
  aerial-mapping/prisma/schema.prisma
Labels: scope:api, scope:client, type:feature, priority:medium

#142 ✨(AWS): Added scripts for Lambda functions
  aerial-mapping/package.json
  aerial-mapping/yarn.lock
  python-AWS-scripts/AdvancedStitch.py
  python-AWS-scripts/BatchFiles.py
  python-AWS-scripts/DuplicateRemove.py
  python-AWS-scripts/ImageCrop.py
  python-AWS-scripts/QuickStitch.py
  python-AWS-scripts/VideoSplitter.py
Labels: enhancement, scope:repository, type:feature, priority:low

#143 ✨(db): Upload and download from S3
  aerial-mapping/apps/api/src/app/schema.graphql
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.spec.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.spec.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.ts
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.spec.ts
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.ts
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
  aerial-mapping/prisma/migrations/20220609171301_1/migration.sql
Labels: scope:db, type:feature, priority:high

#144 Small UI changes
  aerial-mapping/libs/client/account/src/lib/account/account.component.html
  aerial-mapping/libs/client/account/src/lib/account/account.component.scss
  aerial-mapping/libs/client/dashboard/src/lib/bar-chart/bar-chart.component.html
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.html
  aerial-mapping/libs/client/dashboard/src/lib/dashboard-view/dashboard-view.component.scss
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.html
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.scss
  aerial-mapping/libs/client/login/src/lib/login/login.component.html
  aerial-mapping/libs/client/shared/assets/src/lib/global.scss
Labels: scope:ui, type:fix, priority:high

#145 ✏️(ui): Fixed the email registration link
  aerial-mapping/libs/api/register/repository/data-access/src/lib/api-register-repository-data-access.ts
Labels: type:bug, scope:client, type:fix, priority:high

#147 🛂(api): Added Auth to necessary API endpoints and client routes
  aerial-mapping/apps/aerial-mapping/src/app/app-routing.module.ts
  aerial-mapping/apps/api/src/app/schema.graphql
  aerial-mapping/libs/api/dashboard/api/feature/src/lib/api-dashboard-api.resolver.ts
  aerial-mapping/libs/api/image-catalogue/api/feature/src/lib/api-image-catalogue-api.resolver.ts
  aerial-mapping/libs/api/login/api/feature/src/lib/api-login-api.resolver.ts
  aerial-mapping/libs/api/register/api/feature/src/lib/api-register-api.resolver.spec.ts
  aerial-mapping/libs/api/register/api/feature/src/lib/api-register-api.resolver.ts
  aerial-mapping/libs/api/register/repository/data-access/src/lib/api-register-repository-data-access.spec.ts
  aerial-mapping/libs/api/register/repository/data-access/src/lib/api-register-repository-data-access.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.spec.ts
  aerial-mapping/libs/api/s3-upload/repository/data-access/src/lib/api-s3-upload-repository-data-access.ts
Labels: scope:api, type:feature, priority:high

#149 🐛(ui): Fixed bugs on upload and catalog page
  aerial-mapping/libs/client/file-upload/src/lib/file-upload/file-upload.component.ts
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.html
Labels: type:bug, scope:ui, type:fix, priority:high

#150 Update README.md
  README.md
Labels: scope:design, type:documentation, priority:high

#151 🐛(db): Fixing seed.ts
  aerial-mapping/angular.json
  aerial-mapping/libs/api/image-catalogue/api/feature/src/lib/api-image-catalogue-api.resolver.ts
  aerial-mapping/libs/api/register/api/feature/src/lib/api-register-api.resolver.ts
  aerial-mapping/prisma/seed.ts
  aerial-mapping/tsconfig.base.json
Labels: type:bug, scope:db, type:fix, priority:high

#153 🛂(client): Fixing client API calls
  aerial-mapping/libs/api/login/repository/data-access/src/lib/auth/guards/auth.guard.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
Labels: scope:client, type:fix, priority:high

#154 🚑(api): Fixing Auth
  aerial-mapping/libs/api/dashboard/api/feature/src/lib/api-dashboard-api.resolver.ts
  aerial-mapping/libs/api/login/api/feature/src/lib/api-login-api.resolver.ts
  aerial-mapping/libs/api/s3-upload/api/feature/src/lib/api-s3-upload-api.resolver.ts
  aerial-mapping/libs/client/image-catalogue/src/lib/image-catalogue/image-catalogue.component.ts
  aerial-mapping/libs/client/shared/services/lib/client-api.service.ts
  aerial-mapping/prisma/migrations/20220606224453_1/migration.sql
  aerial-mapping/prisma/migrations/20220607080531_2/migration.sql
  aerial-mapping/prisma/migrations/20220607091026_2/migration.sql
  aerial-mapping/prisma/migrations/20220607140010_/migration.sql
  aerial-mapping/prisma/migrations/20220607182457_/migration.sql
  aerial-mapping/prisma/migrations/20220607183002_3/migration.sql
  aerial-mapping/prisma/migrations/20220609132954_/migration.sql
  aerial-mapping/prisma/migrations/20220610002326_1/migration.sql
Labels: scope:api, type:fix, priority:high

#155 🚑(api): Fixing API
  aerial-mapping/libs/api/register/api/feature/src/lib/api-register-api.resolver.ts
Labels: type:bug, scope:api, type:fix, priority:high
